body{
	background:#f9ca24;
}

.formWrapper{
	margin-top:240px;
	margin-left: 470px;
	margin-right: 460px;
	padding-left: 250px;
	color: white;
	border: dotted #273c75 2px;

}

form{
	margin-left: 20px;
}

#btn{
	color: #2ecc71;
}